APP_HOST=0.0.0.0
APP_PORT=8000
APP_ENV=development
DEBUG=true

LLM_API_SECRET=changethis123

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tn_intel
POSTGRES_USER=tn_intel_user
POSTGRES_PASSWORD=tn_intel_pass
DATABASE_URL=postgresql+asyncpg://tn_intel_user:tn_intel_pass@localhost:5432/tn_intel

REDIS_URL=redis://localhost:6379

OLLAMA_HOST=http://localhost:11434
OLLAMA_TRIAGE_MODEL=gemma3:4b
OLLAMA_EXTRACTOR_MODEL=qwen2.5:7b
OLLAMA_EMBED_MODEL=nomic-embed-text

NEWSAPI_KEY=ee8d2009fef347969d5244f57029f301

AWS_REGION=ap-south-1
DYNAMODB_INCIDENTS_TABLE=tn-sentinel-incidents-dev
DYNAMODB_WS_CONNECTIONS_TABLE=tn-sentinel-ws-connections-dev
AWS_WS_ENDPOINT=https://kq2oxxklqb.execute-api.ap-south-1.amazonaws.com/dev
